src/Controller/wallet.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="urn:walletservicewsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="urn:walletservicewsdl">

    <types>
        <xsd:schema targetNamespace="urn:walletwsdl">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
            <xsd:element name="createUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="code" type="xsd:string"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="createUserRequest">
        <part name="identification" type="xsd:string"/>
        <part name="firstname" type="xsd:string"/>
        <part name="lastname" type="xsd:string"/>
        <part name="email" type="xsd:string"/>
        <part name="phone" type="xsd:string"/>
    </message>

    <message name="createUserResponse">
        <part element="tns:createUserResponse" name="response"/>
    </message>

    <portType name="walletwsdlPortType">
        <operation name="createUser">
            <documentation>Create User</documentation>
            <input message="tns:createUserRequest"/>
            <output message="tns:createUserResponse"/>
        </operation>
    </portType>

    <binding name="walletwsdlBinding" type="tns:walletwsdlPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createUser">
            <soap:operation soapAction="urn:arnleadservicewsdl#createUser" style="rpc"/>

            <input>
                <soap:body use="encoded" namespace="urn:walletwsdl"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>

            <output>
                <soap:body use="encoded" namespace="urn:walletwsdl"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="walletwsdl">
        <port name="walletwsdlPort" binding="tns:walletwsdlBinding">
            <soap:address location="http://localhost:8000/wallet"/>
        </port>
    </service>
</definitions>